{% extends "base.html" %}
{% block body %}
    <main>
        <div class="container_2">
            <h1>About Us - Video Steganography</h1>

            <!-- Mission Section -->
            <div class="about-section">
                <h2>Our Mission</h2>
                <p>At Video Steganography, our mission is to provide innovative solutions for secure data transmission and storage through the use of steganographic techniques in digital videos. We aim to make data hiding and encryption accessible and easy to use for individuals and organizations.</p>
            </div>

            <!-- Approach Section -->
            <div class="about-section">
                <h2>Our Approach</h2>
                <p>Video Steganography employs hybrid encryption techniques, combining symmetric and asymmetric encryption algorithms, to ensure robust security and privacy of data. Our system embeds encrypted data within digital video files using advanced steganographic methods, making it virtually undetectable to unauthorized users.</p>
            </div>

            <!-- Advantages Section -->
            <div class="about-section">
                <h2>Why Video Steganography?</h2>
                <p>Video steganography offers several advantages over traditional encryption methods. By concealing data within video frames, our system provides an additional layer of security, as encrypted information remains hidden in plain sight. Moreover, the use of videos allows for the transmission of large volumes of data while maintaining low suspicion.</p>
            </div>

        </div>    
    </main>
{% endblock body %}
