<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</head>
<body style="background-image: url('{{ url_for('static', filename='images/2.jpg') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; margin: 0; padding: 0; height: 100vh;">
    <header>
        <div class="container_1">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo_stego.png') }}" alt="Steganography Logo" class="logo-img">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('encrypt') }}">Encrypt</a></li>
                    <li><a href="{{ url_for('decrypt') }}">Decrypt</a></li>
                    <li><a href="{{ url_for('generate') }}">Generate Keys</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body %}
    {% endblock %}

</body>
</html>